<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionsDao" class="ru.kusoft.dao.QuestionsDaoFromCSV">
        <property name="fileResource" value="/questions-answers.csv"/>
    </bean>

    <bean id="consoleService" class="ru.kusoft.service.ConsoleServiceImpl"/>

    <bean id="testingService" class="ru.kusoft.service.TestingServiceImpl">
        <constructor-arg name="questionsDao" ref="questionsDao"/>
        <constructor-arg name="consoleService" ref="consoleService"/>
    </bean>


</beans>
